.hero {
  background-image: url("./../img/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  padding: 18rem 0;
  padding-top: 17.8rem;

  margin-bottom: 11.1rem;

  @include mobile {
    padding: 0;
    padding-top: 72.3rem;
    background-image: url("./../img/hero-mob.webp");
    background-position: 30.5% -59%;
    margin-bottom: 11.5rem;
    background-size: 130rem 96rem;
    margin-bottom: 11.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__content {
    padding: 9rem 13.6rem;
    padding-bottom: 10rem;
    padding-left: calc((100% - var(--content-width)) / 2);
    background-color: #fff;
    max-width: 49%;
    clip-path: polygon(0 0, 90% 0, 100% 14.5%, 100% 85.7%, 91.2% 100%, 0 100%);

    @include tablet {
      padding-left: 10rem;
      max-width: 60%;
    }
    @include mobile {
      max-width: 100%;
      clip-path: polygon(7% 0%, 93% 0%, 100% 11%, 100% 100%, 0 100%, 0 11%);
      padding: 5.4rem 4rem;
      padding-bottom: 6rem;
    }
  }
  &__title {
    letter-spacing: 0.06em;
    margin-bottom: 13.4rem;

    @include mobile {
      margin-bottom: 2.75rem;
    }
  }
  &__desc {
    max-width: 73.2rem;
  }
  &__btn {
    display: flex;
    width: 100%;
    text-align: center;
    padding-top: 2.2rem;
    padding-bottom: 1.6rem;
  }
}

.hero--about {
  background-image: url("./../img/hero-about.webp");
  background-position: bottom;
  padding-bottom: 23.2rem;
  margin-bottom: 12rem;
  .hero__content {
    padding-right: 10rem;
    padding-bottom: 9.1rem;
    width: 100%;
  }
  .hero__title {
    font-size: 6rem;
    letter-spacing: 0.04em;
    line-height: 1.2;
    margin-bottom: 3.3rem;
  }
}
