<section class="about-nav">
  <div class="container">
    <div class="about-nav__container">
      <div class="about-nav__item">
        <h2 class="about-nav__title title2 title2--accent">Навигация 2023</h2>
        <div class="about-nav__desc desc2">
          <p>
            Открытие периода &laquo;Северной Навигации&nbsp;&mdash;
            2023&raquo;&nbsp;- стало для&nbsp;ООО&nbsp;&laquo;ЭКОТЕХ&raquo;
            открытием нового направления деятельности в&nbsp;качестве
            экспедитора на&nbsp;рынке МОРСКИХ грузоперевозок в&nbsp;районы
            Крайнего Севера.
          </p>
          <p>
            С&nbsp;целью решения задач по&nbsp;обеспечение своевременной
            доставки грузов в&nbsp;районы Чукотского Автономного округа,
            компания, весной 2023 года выступила организатором регулярных рейсов
            по&nbsp;доставке грузов из&nbsp;порта Владивосток в&nbsp;порты ЧАО.
          </p>
        </div>
      </div>
      <div class="about-nav__item about-nav__item--img">
        <img src="./img/about-nov.webp" alt="" />
      </div>
      <div class="about-nav__item">
        <h3 class="capture1 about-nav__capture">
          Своевременная доставка грузов
        </h3>
        <div class="desc2 about-nav__desc">
          <p>
            ООО&nbsp;&laquo;ЭКОТЕХ&raquo; обеспечивает своевременную
            и&nbsp;гарантированную перевозку всех типов грузов
            для&nbsp;муниципальных, коммерческих учреждений и&nbsp;предприятий
            и&nbsp;физических лиц.
          </p>
          <p>
            К&nbsp;перевозке принимаются&nbsp;&mdash; контейнеры, рефконтейнеры,
            автомобили, спецтехника и&nbsp;генеральный груз.
          </p>
        </div>
      </div>
      <div class="about-nav__item">
        <h3 class="capture1 about-nav__capture">
          Периодичность и&nbsp;география
        </h3>
        <div class="desc2 about-nav__desc">
          <p>
            За&nbsp;период навигации 2023/2024 компания организовала регулярную
            доставку грузов, по&nbsp;4&nbsp;рейса ежегодно, в&nbsp;порты:
          </p>
          <ul>
            <li>Анадырь</li>
            <li>Эгвекинот</li>
            <li>Провидения и&nbsp;села Провиденского района</li>
          </ul>
          <p>В&nbsp;т.ч.&nbsp;с&nbsp;выгрузкой на&nbsp;необорудованный берег</p>
        </div>
      </div>
    </div>
  </div>
</section>
