<section class="about-start">
  <div class="container">
    <div class="about-start__container">
      <div class="about-start__content">
        <h2 class="title2 about-start__title">Начало деятельности</h2>
        <div class="desc2 about-start__desc">
          <p>
            Деятельность компании ООО &laquo;ЭКОТЕХ&raquo; была открыта
            15&nbsp;декабря 2009 года с&nbsp;целью реализации контрактов
            по&nbsp;повышению энергоэффективности производственных предприятий
            в&nbsp;реализации требований Федерального закона
            &laquo;Об&nbsp;энергосбережении и&nbsp;о&nbsp;повышении
            энергетической эффективности и&nbsp;о&nbsp;внесении изменений
            в&nbsp;отдельные законодательные акты Российской Федерации&raquo;
            от&nbsp;23.11.2009&nbsp;N 261-ФЗ. Исполнение условий контрактов
            в&nbsp;разных регионах&nbsp;РФ потребовало от&nbsp;компании
            в&nbsp;том числе и&nbsp;организации подразделения по&nbsp;снабжению
            подрядчиков необходимым оборудованием и&nbsp;материалами.
            В&nbsp;дальнейшем, номенклатура поставок включала в&nbsp;себя уже
            и&nbsp;продукты питания.
          </p>
          <p>
            С&nbsp;2016 года компания отправляет грузы от&nbsp;производителей
            ЦФО&nbsp;для&nbsp;предприятий Чукотского Автономного округа,
            а&nbsp;с&nbsp;2018&nbsp;года, являясь пайщиком Международного
            Потребительского Кооператива &laquo;Технологии
            и&nbsp;Решения&raquo;, уже целенаправленно оказывает комплексные
            услуги по&nbsp;комплектации грузов для членов МПК и&nbsp;отправке
            их&nbsp;из&nbsp;районов ЦФО на&nbsp;Чукотку.
          </p>
        </div>
      </div>
      <div class="about-start__img">
        <picture>
          <source
            srcset="./img/about-start-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/about-start.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
