<section class="hero hero--about">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title title1">Работаем <br />с&nbsp;2009 года</h1>

      <p class="desc1 hero__desc">
        Мы&nbsp;сами, на&nbsp;своём собственном опыте, прошли весь путь
        компании-снабженца, опирающейся в&nbsp;решении собственных задач
        на&nbsp;возможности предприятий, предоставляющих услуги грузоперевозок,
        и&nbsp;наработав свой собственный опыт, приняли решение создать
        эффективный комплексный продукт на&nbsp;рынке грузоперевозок
        и&nbsp;предоставлять его&nbsp;нашим друзьям и&nbsp;партнёрам.
      </p>
    </div>
  </div>
</section>
