<section class="about-nav about-nav--active">
  <div class="container">
    <div class="about-nav__container">
      <div class="about-nav__item">
        <h2 class="about-nav__title title2 title2--accent">Активы компании</h2>
        <div class="about-nav__desc desc2">
          <p>
            С&nbsp;2025 года компания расширила свои активы
            и&nbsp;в&nbsp;настоящее время предлагает рынку: площади
            и&nbsp;ресурс системы энергоснабжения, позволяющий обеспечить
            подключение и&nbsp;хранение контейнеров всех типов, склад
            и&nbsp;площадку для комплектации и&nbsp;перевалки сборных грузов,
            погрузо-разгрузочную технику для работы с&nbsp;грузами до&nbsp;50тн
            и&nbsp;средства малой механизации
          </p>
          <p>
            Главный актив компании&nbsp;&mdash;
            <b>компетентные специалисты</b> с&nbsp;огромным опытом работы
            в&nbsp;сфере морской логистики, ответственное отношение к&nbsp;делу
            и&nbsp;внимательность к&nbsp;потребностям наших заказчиков
          </p>
          <p>
            Мы&nbsp;сопровождаем ваш груз от&nbsp;приёма в&nbsp;работу, погрузки
            и&nbsp;крепления на&nbsp;судне, до&nbsp;выдачи в&nbsp;порту
            назначения
          </p>
        </div>
      </div>
      <div class="about-nav__item about-nav__item--img">
        <img src="./img/about-active.webp" alt="" />
      </div>
      <div class="about-nav__item">
        <h3 class="capture1 about-nav__capture">
          Услуги и предложения складского комплекса
        </h3>
        <div class="desc2 about-nav__desc">
          <ul>
            <li>Ответственное хранение грузов;</li>
            <li>
              Комплектация и&nbsp;загрузка контейнеров, доставка в&nbsp;порт;
            </li>
            <li>Хранение с&nbsp;видеонаблюдением и&nbsp;опломбированием;</li>
            <li>
              Содействие в&nbsp;приобретении легковой и&nbsp;грузовой техники;
            </li>
          </ul>
        </div>
      </div>
      <div class="about-nav__item">
        <h3 class="capture1 about-nav__capture">
          Объёмы разовой грузовой партии
        </h3>
        <div class="desc2 about-nav__desc">
          <p>
            В&nbsp;зависимости от&nbsp;запросов основного заказчика или
            от&nbsp;общего объёма накопленного груза, компания ООО
            &laquo;ЭКОТЕХ&raquo;, имеет возможность привлечь к&nbsp;перевозке
            суда с&nbsp;дедвейтом:
          </p>
        </div>
        <ul class="list-reset about-nav__list">
          <li>7000 м<sup>3</sup></li>
          <li>9000 м<sup>3</sup></li>
          <li>30000 м<sup>3</sup></li>
        </ul>
      </div>
    </div>
  </div>
</section>
