<section class="about-cta cta">
  <div class="container">
    <div class="about-cta__container">
      <div class="about-cta__item">
        <h2 class="about-cta__title title2 title2--accent">
          Цель нашей работы
        </h2>
        <p class="desc1 about-cta__desc">
          Помочь нашим клиентам, партнёрам и&nbsp;друзьям по&nbsp;всей нашей
          огромной стране, как в&nbsp;Москве, Владивостоке, так
          и&nbsp;на&nbsp;Чукотке, в&nbsp;доставке необходимого груза качественно
          и&nbsp;в&nbsp;срок.
        </p>
      </div>
      <div class="about-cta__img">
        <img src="./img/about-cta.webp" alt="" />
      </div>
      <div class="about-cta__item about-cta__item--form cta__left">
        <p class="capture1 about-cta__capture">
          Оставьте заявку и&nbsp;отдел логистики с&nbsp;вами свяжемся
        </p>

        <form class="form form cta__form">
          <div class="form__row">
            <div class="form__field">
              <input
                type="text"
                id="input-name"
                name="Имя"
                class="form__input input-name"
              />
              <label for="input-name">Имя</label>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field">
              <input
                type="tel"
                id="input-tel"
                name="Телефон"
                class="form__input input-tel"
              />
              <label for="input-tel">Телефон</label>
            </div>
          </div>

          <button class="btn-reset btn form__btn" disabled>отправить</button>
          <small class="link">
            Нажимая кнопку &laquo;Отправить заявку&raquo;, вы&nbsp;соглашаетесь
            <br />с&nbsp;<a href="#">
              политикой обработки персональных данных
            </a>
          </small>
        </form>
      </div>
    </div>
  </div>
</section>
