<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="cta__content">
        <div class="cta__left">
          <h2 class="cta__title title2">
            Оставьте заявку и&nbsp;отдел логистики с&nbsp;вами свяжемся
          </h2>

          <form class="form form cta__form">
            <div class="form__row">
              <div class="form__field">
                <input
                  type="text"
                  id="input-name"
                  name="Имя"
                  class="form__input input-name"
                />
                <label for="input-name">Имя</label>
              </div>
            </div>

            <div class="form__row">
              <div class="form__field">
                <input
                  type="tel"
                  id="input-tel"
                  name="Телефон"
                  class="form__input input-tel"
                />
                <label for="input-tel">Телефон</label>
              </div>
            </div>

            <button class="btn-reset btn form__btn" disabled>отправить</button>
            <small class="link">
              Нажимая кнопку &laquo;Отправить заявку&raquo;,
              вы&nbsp;соглашаетесь <br />с&nbsp;<a href="#">
                политикой обработки персональных данных
              </a>
            </small>
          </form>
        </div>
        <div class="cta__img">
          <picture>
            <source
              srcset="./img/cta-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/cta.webp" type="image/webp" />
            <img src="./img/cta.webp" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
