<header class="header header--black">
  <div class="container">
    <div class="header__container">
      <a href="./" class="header__logo">
        <svg
          width="40"
          height="46"
          viewBox="0 0 40 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M39.3441 11.7456L19.7287 0.333008L0.113319 11.7456V34.5708L19.7287 45.9834L39.3441 34.5708V11.7456ZM39.3441 34.5708H0.113319L19.7287 0.333008L39.3441 34.5708Z"
          />
        </svg>
        <span>
          <span>экотех</span>
          <span>транслогистик</span>
        </span>
      </a>

      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li>
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#">Новости</a>
          </li>
          <li>
            <a href="#">О&nbsp;нас</a>
          </li>
          <li>
            <a href="#">Расписание судов</a>
          </li>
          <li>
            <a href="#">Услуги</a>
          </li>
          <li>
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <button
        class="btn btn-reset btn--stroke btn--small header__btn modal-btn"
      >
        Оставить заявку
      </button>

      <button
        class="btn-reset burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
  @include('./menu.html')
</header>
@include('./popup.html')
