<div class="modal" data-modal="resp">
  <div class="modal__body container hor">
    <div class="modal__img">
      <picture>
        <source
          srcset="./img/our-service/extra/01-mob.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source srcset="./img/our-service/extra/01.webp" type="image/webp" />
        <img src="./img/our-service/extra/01.webp" alt="" />
      </picture>
    </div>
    <div class="modal__content">
      <div class="modal__header flex alc jcsb">
        <p class="modal__title capture1">Ответственное хранение грузов</p>
        <button class="modal__close btn-reset">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 2L22 22M22 2L2 22" stroke="black" stroke-width="4" />
          </svg>
        </button>
      </div>
      <div class="desc2 modal__desc">
        <p>
          Компания ЭКОТЕХ сдаёт в&nbsp;аренду, продаёт, приобретает сухие
          и&nbsp;рефрижераторные порожние контейнеры&nbsp;&mdash; стандартные
          (20&rsquo;DC, 40&rsquo;DC) и&nbsp;высокие (20&rsquo;HC, 40&rsquo;HC)
          во&nbsp;Владивостоке и&nbsp;Москве.<br />
          Под заказ:<br />
          поставляем контейнеры б/у (размер и&nbsp;техническое состояние
          по&nbsp;согласованию);<br />
          осуществляем ремонт любых повреждений сухих и&nbsp;рефконтейнеров
          качественно и&nbsp;срок.
        </p>
        <p>
          При невозможности возврата Арендатором порожнего контейнера
          Арендодателю, мы&nbsp;готовы предоставить Арендатору возможность
          выкупа контейнера в&nbsp;собственность, на&nbsp;согласованных
          условиях.
        </p>
      </div>
    </div>
  </div>
</div>
