<div class="modal" data-modal="comp">
  <div class="modal__body container vert">
    <div class="modal__img">
      <picture>
        <source
          srcset="./img/our-service/extra/02-mob.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source srcset="./img/our-service/extra/05.webp" type="image/webp" />
        <img src="./img/our-service/extra/05.webp" alt="" />
      </picture>
    </div>
    <div class="modal__content">
      <div class="modal__header flex alc jcsb">
        <p class="modal__title capture1">
          Комплектация и&nbsp;перегруз контейнеров
        </p>
        <button class="modal__close btn-reset">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 2L22 22M22 2L2 22" stroke="black" stroke-width="4" />
          </svg>
        </button>
      </div>
      <div class="desc2 modal__desc">
        <p>
          Компания ЭКОТЕХ предлагает услугу по&nbsp;перегрузке грузов
          и&nbsp;формированию контейнеров на&nbsp;площадке компании
          с&nbsp;последующим оформлением документов для отправки груза
          на&nbsp;Чукотку или в&nbsp;Центральные регионы страны.
        </p>
        <p>
          Мы&nbsp;предлагаем удобные формы сотрудничества:<br />
          возможность комплектации контейнера к&nbsp;дальнейшей отправке
          непосредственно на&nbsp;территории площадки;<br />
          оформление документов на&nbsp;груз;<br />
          безопасное хранение контейнеров;<br />
          бесплатное (первые 2&nbsp;дня) временное хранение груза;<br />
          страховку груза от&nbsp;всех рисков на&nbsp;всем пути следования.<br />
        </p>
        <p>
          Данный этап транспортной логистики является неотъемлемой частью
          большинства грузоперевозок и&nbsp;осуществляется в&nbsp;следующих
          случаях:<br />
          при подготовке грузов к&nbsp;транспортировке контейнерами
          по&nbsp;морю, в&nbsp;районы Чукотского Автономного округа;<br />
          для перевозки грузов далее из&nbsp;Владивостока железнодорожным или
          автомобильным транспортом конечному получателю;<br />
          при необходимости перемещения груза с&nbsp;железнодорожной платформы,
          вагона на&nbsp;автотранспорт и&nbsp;его доставить следующий пункт
          назначения;<br />
          когда несколько поставщиков из&nbsp;разных точек, везут продукцию
          в&nbsp;один пункт сбора, и&nbsp;требуется её&nbsp;консолидация
          в&nbsp;контейнере/складе и&nbsp;т.д.<br />
        </p>
        <p>
          Заказчику предоставляется возможность в&nbsp;том числе
          и&nbsp;самостоятельно перегрузить свой товар/партию товара для
          формирования контейнера с&nbsp;последующей отгрузкой.<br />
          Операция может производиться только в&nbsp;специализированных,
          предназначенных для этого местах, осуществление перегрузки
          на&nbsp;улице не&nbsp;разрешается. Разгрузочно-погрузочные работы
          на&nbsp;контейнерной площадке производятся в&nbsp;договорном
          порядке.<br />
          Приём транспорта осуществляется по&nbsp;предварительно отправленной
          заявке с&nbsp;указанием характеристик изделий и&nbsp;перечня
          необходимых работ. Обязательное условие перегрузки&nbsp;&mdash;
          предоставление сопроводительных документов.<br />
          Дополнительную обработку продукции (сверка, взвешивание, маркировка,
          переупаковка, и&nbsp;т.д.)&nbsp;&mdash; компания не&nbsp;производит.
        </p>
      </div>
    </div>
  </div>
</div>
