<div class="modal" data-modal="safe">
  <div class="modal__body container">
    <div class="modal__img">
      <picture>
        <source
          srcset="./img/our-service/extra/04-mob.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source srcset="./img/our-service/extra/04.webp" type="image/webp" />
        <img src="./img/our-service/extra/04.webp" alt="" />
      </picture>
    </div>
    <div class="modal__content">
      <div class="modal__header flex alc jcsb">
        <p class="modal__title capture1">Услуги страхования перевозок</p>
        <button class="modal__close btn-reset">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 2L22 22M22 2L2 22" stroke="black" stroke-width="4" />
          </svg>
        </button>
      </div>
      <div class="desc2 modal__desc">
        <p>
          Компания ЭКОТЕХ предлагает Заказчикам услугу страхования груза при
          перевозке.<br />
          Услуга Страхования грузов подразумевает выплату страховой компанией
          компенсации Клиенту, при полном повреждении или частичной потере
          груза, фактах воровства либо намеренного повреждения или прочих
          неблагоприятных обстоятельствах.
        </p>
        <p>
          По&nbsp;желанию Заказчика в&nbsp;договор могут быть внесены
          дополнительные индивидуальные условия, а&nbsp;величина страховой
          премии определяется характером и&nbsp;номенклатурой груза, способом
          его доставки, объёмом перевозимой партии, маршрутом, типом
          транспортного средства, и&nbsp;т.д. (все конкретные условия
          страхования оговариваются Договором индивидуально).
        </p>
        <p>
          Минимизация рисков путём заключения договора страхования все более
          и&nbsp;более востребована обеими сторонами сделки, как отправляющей,
          так и&nbsp;стороной, принимающей груз к&nbsp;перевозке.<br />
          Ответственность Грузоперевозчика за&nbsp;доверенный груз в&nbsp;рамках
          договора на&nbsp;транспортно-экспедиционное обслуживание
          не&nbsp;является тождественной страховому полису и&nbsp;учитывает
          далеко не&nbsp;весь спектр зон ответственности за&nbsp;груз. Именно
          поэтому, понимая риски наших клиентов, мы&nbsp;предлагаем услугу
          страхования грузов на&nbsp;выгодных условиях и&nbsp;стоимости.
        </p>
        <p>
          При сотрудничестве с&nbsp;нашей компанией рефрижераторные контейнеры
          страхуются по&nbsp;умолчанию.
        </p>
      </div>
    </div>
  </div>
</div>
