<div class="modal" data-modal="service">
  <div class="modal__body container">
    <div class="modal__img">
      <picture>
        <source
          srcset="./img/our-service/extra/03-mob.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source srcset="./img/our-service/extra/03.webp" type="image/webp" />
        <img src="./img/our-service/extra/03.webp" alt="" />
      </picture>
    </div>
    <div class="modal__content">
      <div class="modal__header flex alc jcsb">
        <p class="modal__title capture1">
          Услуги приобретения грузов и&nbsp;автотранспорта
        </p>
        <button class="modal__close btn-reset">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 2L22 22M22 2L2 22" stroke="black" stroke-width="4" />
          </svg>
        </button>
      </div>
      <div class="desc2 modal__desc">
        <p>
          Компания ЭКОТЕХ&mdash; предлагает своим Заказчикам услуги приёма
          и&nbsp;хранения транзитного груза для последующей транспортировки
          на&nbsp;Чукотку на&nbsp;контейнерной площадке, равноудаленно
          расположенной от&nbsp;АО&nbsp;&laquo;Дальзавод-Терминал&raquo;
          и&nbsp;&laquo;Морской Комплекс &laquo;Назимово&raquo;
        </p>
        <p>
          На&nbsp;хранение принимаются сухие контейнеры (с&nbsp;грузом
          и&nbsp;порожние), рефрижераторные контейнеры, автоспецтехника
          и&nbsp;генеральный груз.
        </p>
        <p>Стоимость услуг необходимо уточнять дополнительно.</p>
      </div>
    </div>
  </div>
</div>
