<section class="news">
  <div class="container">
    <h1 class="title3 news__title">Новости</h1>
    <div class="news__items">
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <h4 class="news-item__title">
            <a href="#">Cухогруз «Лиза» прибыл в&nbsp;Провидения</a>
          </h4>
          <time datetime="29.10.2024" class="news-item__time">29.10.2024</time>
        </div>
      </article>
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/02.webp" alt="" />
        </div>
        <div class="news-item__info">
          <h4 class="news-item__title">
            <a href="#"
              >&laquo;Сухогруз &bdquo;ЛИЗА&ldquo;&nbsp;- доставил грузы
              и&nbsp;технику в&nbsp;порт Провидения&raquo;</a
            >
          </h4>
          <time datetime="21.09.2024" class="news-item__time">21.09.2024</time>
        </div>
      </article>
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/03.webp" alt="" />
        </div>
        <div class="news-item__info">
          <h4 class="news-item__title">
            <a href="#">
              Сухогруз &laquo;ЛИЗА&raquo;&nbsp;- доставка груза
              в&nbsp;порт&nbsp;Анадырь
            </a>
          </h4>
          <time datetime="11.09.2024" class="news-item__time">11.09.2024</time>
        </div>
      </article>
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__info">
          <h4 class="news-item__title">
            <a href="#">Cухогруз «Лиза» прибыл в&nbsp;Провидения</a>
          </h4>
          <time datetime="29.10.2024" class="news-item__time">29.10.2024</time>
        </div>
      </article>
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/02.webp" alt="" />
        </div>
        <div class="news-item__info">
          <h4 class="news-item__title">
            <a href="#"
              >&laquo;Сухогруз &bdquo;ЛИЗА&ldquo;&nbsp;- доставил грузы
              и&nbsp;технику в&nbsp;порт Провидения&raquo;
            </a>
          </h4>
          <time datetime="21.09.2024" class="news-item__time">21.09.2024</time>
        </div>
      </article>
      <article class="news__item news-item">
        <div class="news-item__img">
          <img src="./img/news/03.webp" alt="" />
        </div>
        <div class="news-item__info">
          <h4 class="news-item__title">
            <a href="#">
              Сухогруз &laquo;ЛИЗА&raquo;&nbsp;- доставка груза
              в&nbsp;порт&nbsp;Анадырь
            </a>
          </h4>
          <time datetime="11.09.2024" class="news-item__time">11.09.2024</time>
        </div>
      </article>
    </div>
  </div>
</section>
