<section class="our-service">
  <div class="container">
    <div class="our-service__header flex jcsb alc">
      <h2 class="title2 our-service__title">Наши основные услуги</h2>
      <a href="#" class="link our-service__link">подробнее</a>
    </div>
    <div class="our-service__items">
      <a href="#" class="our-service__item">
        <div class="our-service__img">
          <img src="./img/our-service/01.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Доставка грузов на&nbsp;Чукотку</p>
        </div>
      </a>
      <a href="#" class="our-service__item">
        <div class="our-service__img">
          <img src="./img/our-service/02.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>ЖД&nbsp;перевозки <span>Реф/Сухие контейнеры</span></p>
        </div>
      </a>
      <a href="#" class="our-service__item">
        <div class="our-service__img">
          <img src="./img/our-service/03.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Автомобильные перевозки</p>
        </div>
      </a>
    </div>
    <div class="our-service__bottom">
      <a href="#" class="btn btn--stroke btn--black our-service__btn"
        >Все&nbsp;услуги</a
      >
    </div>
  </div>
</section>
