<section class="schedule-current">
  <div class="container">
    <h2 class="title2 schedule-current__title">
      Текущее местоположе&shy;ние судна
    </h2>

    <div class="schedule-current__container">
      <div class="schedule-current__info sc-item">
        <div class="sc-item__header flex jcsb">
          <p class="sc-item__title">т/х Аврора</p>
          <p class="desc2 sc-item__num">AA0000RUS00</p>
        </div>
        <div class="sc-item__body">
          <div class="sc-item__desc">
            <p>Судно находится <span>в пути</span></p>
            <p>
              Из <span>Владивосток</span> в
              <span>Анадырь</span>
            </p>
          </div>
        </div>
        <div class="sc-item__bottom flex jcsb">
          <p class="sc-item__desc sc-item__desc--date">
            Ориентировочная дата прибытия
          </p>
          <p class="sc-item__date">20.06</p>
        </div>
      </div>
      <div class="schedule-current__img">
        <img src="./img/schedule-boat.webp" alt="" />
      </div>
    </div>
    <a
      href="#"
      class="btn btn-reset btn--stroke btn--black schedule-current__btn"
    >
      мониторинг маршрута
    </a>
  </div>
</section>
