<section class="service-hero service-hero--railway">
  <div class="container">
    <div class="service-hero__content">
      <h1 class="title1 service-hero__title">
        ЖД&nbsp;перевозки <span>(Реф/Сухие контейнеры)</span>
      </h1>
      <p class="desc1 service-hero__desc">
        Компания ЭКОТЕХ профессионально обеспечивает железнодорожные перевозки
        любых грузов по&nbsp;территории России, в&nbsp;том числе на&nbsp;Дальний
        Восток и&nbsp;далее морем на&nbsp;Чукотку.
      </p>
    </div>
  </div>
</section>
