<section class="service-blocks">
  <div class="container">
    <div class="service-blocks__items">
      <div class="service-blocks__item sb-item">
        <p class="capture1 sb-item__capture">
          Наши специалисты&nbsp;&mdash; настоящие профессионалы своего дела
        </p>
        <div class="desc2 sb-item__desc">
          <p>
            Они отлично разбираются в&nbsp;проблематике перевозок
            в&nbsp;отдалённые Северные районы и&nbsp;помогут
            вам&nbsp;реализовать Вашу задачу максимально удобно, безопасно
            и&nbsp;своевременно.<br />
            Мы&nbsp;окажем квалифицированную помощь в&nbsp;перевозке
            контейнеров, автотехники, генерального груза и&nbsp;негабаритных
            грузов в&nbsp;период навигации, т.е. период с&nbsp;конца мая
            по&nbsp;конец октября.
          </p>
        </div>
      </div>
      <div class="service-blocks__item sb-item">
        <p class="capture1 capture1 sb-item__capture">
          Компания ЭКОТЕХ&mdash; готова предоставить Заказчику комплексную
          услугу:
        </p>
        <div class="desc2 sb-item__desc">
          <ul>
            <li>
              приём и&nbsp;хранение грузов на&nbsp;собственных контейнерных
              площадках в&nbsp;Москве и&nbsp;других крупных городах ЦФО России;
            </li>
            <li>
              отправка груза автомобильным или&nbsp;ЖД транспортом
              во&nbsp;Владивосток и&nbsp;далее морем на&nbsp;Чукотку;
            </li>
            <li>мониторинг местонахождения груза;</li>
            <li>
              приём и&nbsp;хранение грузов на&nbsp;площадке во&nbsp;Владивостоке
              для последующей транспортировки, согласно расписанию, морем
              на&nbsp;Чукотку, в&nbsp;выбранный вами порт или населённый пункт;
            </li>
            <li>Страхование груза;</li>
            <li>
              При наличии экономической целесообразности или в&nbsp;экстренных
              случаях отправку вашего груза из&nbsp;ЦФО РФ&nbsp;сразу
              в&nbsp;пункт назначения грузовой авиацией.
            </li>
          </ul>
          <p>
            Комплексная услуга сочетает в&nbsp;себе оптимальное взаимодействие
            автомобильного, железнодорожного и&nbsp;морского транспорта, что
            позволяет минимизировать затраты и&nbsp;обеспечить необходимые сроки
            транспортировки.
          </p>
        </div>
      </div>
    </div>
    <div class="service-blocks__items service-blocks__items--general">
      <div class="service-blocks__item service-blocks__item--extra sb-item">
        <p class="capture1 capture1--accent sb-item__capture">
          С&nbsp;какими грузами мы&nbsp;работаем:
        </p>
        <div class="sb-item__row">
          <div class="desc2 sb-item__desc">
            <p>
              К&nbsp;перевозке принимаются сухие и&nbsp;рефрижераторные
              контейнеры:
            </p>
            <p>
              Стандартные&nbsp;&mdash;
              <span>20&rsquo;DC, 40&rsquo;DC</span>
            </p>
            <p>
              Высокие&nbsp;&mdash;
              <span>20&rsquo;HC, 40&rsquo;HC</span>
            </p>
          </div>
          <div class="desc2 sb-item__desc">
            <p>
              Генеральный груз, негабаритный груз, автотехника, сборные грузы,
              прочие грузы, кроме опасных
            </p>
          </div>
        </div>
      </div>
      <div class="service-blocks__item sb-item">
        <p class="capture1 capture1 sb-item__capture">
          Мы&nbsp;возьмём на&nbsp;себя заботу о&nbsp;вас и&nbsp;Вашем грузе!
        </p>
        <div class="desc2 sb-item__desc">
          <p>
            Все вопросы, задачи и&nbsp;ответственность по&nbsp;логистике для вас
            обеспечивает и&nbsp;решает наша компания.
          </p>
          <p>
            Специалисты компании помогут вам произвести все необходимые расчёты
            и&nbsp;принять оптимальное, верное решение.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
