<section class="service-blocks">
  <div class="container">
    <div class="service-blocks__items service-blocks__items--long">
      <div class="service-blocks__item sb-item">
        <p class="capture1 capture1 sb-item__capture">
          Компания ЭКОТЕХ&nbsp;&mdash; готова предоставить Заказчику комплексную
          услугу:
        </p>
        <div class="desc2 sb-item__desc">
          <ul>
            <li>
              приём и&nbsp;хранение груза на&nbsp;складе или контейнерной
              площадке в&nbsp;Москве;
            </li>
            <li>
              подача порожних, вывоз гружёных контейнеров со&nbsp;склада,
              магистральные перевозки контейнеров до&nbsp;Владивостока;
            </li>
            <li>
              автомобильные перевозки грузов с&nbsp;полной (FTL), частичной
              (LTL) загрузкой автомобиля и&nbsp;контейнерные перевозки
              по&nbsp;всей территории России, от&nbsp;склада отправителя
              до&nbsp;склада получателя.
            </li>
            <li>
              приём и&nbsp;хранение грузов на&nbsp;складе или контейнерной
              площадке во&nbsp;Владивостоке для последующей транспортировки
              в&nbsp;населённые пункты Центральных регионов России;
            </li>
            <li>экспедиторское обслуживание на&nbsp;маршруте;</li>
            <li>
              подбор необходимого типа транспорта в&nbsp;зависимости
              от&nbsp;характера перевозимого груза (вид груза, объём/тоннаж)
              и&nbsp;маршрута.
            </li>
          </ul>
          <p>
            Основные преимущества перевозки грузов автотранспортом:
            универсальность (грузы любого типа), доступные тарифы, оперативность
            в&nbsp;сроках доставки.
          </p>
        </div>
      </div>
    </div>
    <div class="service-blocks__items service-blocks__items--general">
      <div class="service-blocks__item service-blocks__item--extra sb-item">
        <p class="capture1 capture1--accent sb-item__capture">
          С&nbsp;какими грузами мы&nbsp;работаем:
        </p>
        <div class="sb-item__row">
          <div class="desc2 sb-item__desc">
            <p>
              К&nbsp;перевозке принимаются сухие и&nbsp;рефрижераторные
              контейнеры:
            </p>
            <p>
              Стандартные&nbsp;&mdash;
              <span>20&rsquo;DC, 40&rsquo;DC</span>
            </p>
            <p>
              Высокие&nbsp;&mdash;
              <span>20&rsquo;HC, 40&rsquo;HC</span>
            </p>
          </div>
          <div class="desc2 sb-item__desc">
            <p>
              Генеральный груз, негабаритный груз, автотехника, сборные грузы,
              прочие грузы, кроме опасных
            </p>
          </div>
        </div>
      </div>
      <div class="service-blocks__item sb-item">
        <p class="capture1 capture1 sb-item__capture">
          Мы&nbsp;возьмём на&nbsp;себя заботу о&nbsp;вас и&nbsp;Вашем грузе!
        </p>
        <div class="desc2 sb-item__desc">
          <p>
            Все вопросы, задачи и&nbsp;ответственность по&nbsp;логистике для вас
            обеспечивает и&nbsp;решает наша компания.
          </p>
          <p>
            Специалисты компании помогут вам произвести все необходимые расчёты
            и&nbsp;принять оптимальное, верное решение.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
