<section class="our-service our-service--main">
  <div class="container">
    <div class="our-service__header flex jcsb alc">
      <h2 class="title3 our-service__title">Основные услуги</h2>
    </div>
    <div class="our-service__items">
      <a href="#" class="our-service__item">
        <div class="our-service__img">
          <img src="./img/our-service/01.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Доставка грузов на&nbsp;Чукотку</p>
        </div>
      </a>
      <a href="#" class="our-service__item">
        <div class="our-service__img">
          <img src="./img/our-service/02.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>ЖД&nbsp;перевозки <span>Реф/Сухие контейнеры</span></p>
        </div>
      </a>
      <a href="#" class="our-service__item">
        <div class="our-service__img">
          <img src="./img/our-service/03.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Автомобильные перевозки</p>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="service-extra">
  <div class="container">
    <h2 class="title2 service-extra__title">дополнительные услуги</h2>
    <div class="service-extra__items">
      <a
        href="#"
        class="our-service__item our-service__item--extra"
        data-service="resp"
      >
        <div class="our-service__img">
          <img src="./img/our-service/extra/01.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Ответственное хранение грузов</p>
        </div>
      </a>
      <a
        href="#"
        class="our-service__item our-service__item--extra"
        data-service="comp"
      >
        <div class="our-service__img">
          <img src="./img/our-service/extra/02.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Комплектация и&nbsp;перегруз контейнеров</p>
        </div>
      </a>
      <a
        href="#"
        class="our-service__item our-service__item--extra"
        data-service="service"
      >
        <div class="our-service__img">
          <img src="./img/our-service/extra/03.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Услуги приобретения грузов и&nbsp;автотранспорта</p>
        </div>
      </a>
      <a
        href="#"
        class="our-service__item our-service__item--extra"
        data-service="safe"
      >
        <div class="our-service__img">
          <img src="./img/our-service/extra/04.webp" alt="" />
        </div>
        <div class="our-service__capture">
          <p>Услуги<br />страхования перевозок</p>
        </div>
      </a>
    </div>
  </div>
</section>
