<section class="service-blocks">
  <div class="container">
    <div class="service-blocks__items service-blocks__items--reverse">
      <div class="service-blocks__item sb-item">
        <p class="capture1 sb-item__capture">
          Транспортировка грузов по&nbsp;железной дороге.
        </p>
        <div class="desc2 sb-item__desc">
          <p>
            Удобный и&nbsp;востребованный вид&nbsp;грузоперевозок, с&nbsp;рядом
            несомненных преимуществ&nbsp;&mdash; экономичностью, регулярностью,
            безопасностью, точностью сроков, независимостью
            от&nbsp;климатических условий и&nbsp;пр.
          </p>
          <p>
            Мы&nbsp;готовы принять ваш груз практически во&nbsp;всех крупных
            городах России для перевозки на&nbsp;Дальний Восток,
            проконтролировать его&nbsp;своевременную отгрузку и&nbsp;прохождение
            по&nbsp;маршруту в&nbsp;любой пункт назначения с&nbsp;доступом
            к&nbsp;железнодорожной сети, обеспечить, при&nbsp;необходимости,
            взаимодействие с&nbsp;локальными автомобильными перевозчиками
            для&nbsp;доставки непосредственно Получателю.
          </p>
          <p>
            Поступившие во&nbsp;Владивосток грузы консолидируются
            на&nbsp;контейнерной площадке компании для последующей
            транспортировки, согласно расписанию, морем на&nbsp;Чукотку,
            в&nbsp;выбранный вами порт или населённый пункт.
          </p>
        </div>
      </div>
      <div class="service-blocks__item sb-item">
        <p class="capture1 capture1 sb-item__capture">
          Компания ЭКОТЕХ в&nbsp;соответствии с&nbsp;вашими требованиями
        </p>
        <div class="desc2 sb-item__desc">
          <p>
            Готова осуществить обратную доставку ваших грузов
            из&nbsp;Владивостока в&nbsp;другие регионы страны, в&nbsp;любой
            пункт назначения с&nbsp;доступом к&nbsp;железнодорожной сети,
            обеспечить взаимодействие с&nbsp;локальными автомобильными
            перевозчиками для доставки груза непосредственно Получателю.
          </p>
        </div>
      </div>
    </div>
    <div class="service-blocks__items service-blocks__items--general">
      <div class="service-blocks__item service-blocks__item--extra sb-item">
        <p class="capture1 capture1--accent sb-item__capture">
          С&nbsp;какими грузами мы&nbsp;работаем:
        </p>
        <div class="sb-item__row">
          <div class="desc2 sb-item__desc">
            <p>
              К&nbsp;перевозке принимаются сухие и&nbsp;рефрижераторные
              контейнеры:
            </p>
            <p>
              Стандартные&nbsp;&mdash;
              <span>20&rsquo;DC, 40&rsquo;DC</span>
            </p>
            <p>
              Высокие&nbsp;&mdash;
              <span>20&rsquo;HC, 40&rsquo;HC</span>
            </p>
          </div>
          <div class="desc2 sb-item__desc">
            <p>
              Генеральный груз, негабаритный груз, автотехника, сборные грузы,
              прочие грузы, кроме опасных
            </p>
          </div>
        </div>
      </div>
      <div class="service-blocks__item sb-item">
        <p class="capture1 capture1 sb-item__capture">
          Мы&nbsp;возьмём на&nbsp;себя заботу о&nbsp;вас и&nbsp;Вашем грузе!
        </p>
        <div class="desc2 sb-item__desc">
          <p>
            Все вопросы, задачи и&nbsp;ответственность по&nbsp;логистике для вас
            обеспечивает и&nbsp;решает наша компания.
          </p>
          <p>
            Специалисты компании помогут вам произвести все необходимые расчёты
            и&nbsp;принять оптимальное, верное решение.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
