<section class="tt">
  <div class="container">
    <div class="tt__header flex jcsb alc">
      <h2 class="title2 tt__title">Расписание движения судов</h2>
      <a href="#" class="link tt__link">подробнее</a>
    </div>
    <div class="tt__table">
      <table>
        <thead>
          <tr>
            <th rowspan="2">Название судна</th>
            <th rowspan="2">№ рейса</th>
            <th colspan="2">Владивосток</th>
            <th colspan="2">Анадырь</th>
            <th colspan="2">Эгвекинот</th>
            <th colspan="2">Проводения</th>
            <th colspan="2">Певек</th>
          </tr>
          <tr>
            <th>ETA</th>
            <th>ETD</th>
            <th>ETA</th>
            <th>ETD</th>
            <th>ETA</th>
            <th>ETD</th>
            <th>ETA</th>
            <th>ETD</th>
            <th>ETA</th>
            <th>ETD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>т/х Аврора</td>
            <td>2025/1</td>
            <td>-</td>
            <td>-</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>т/х Аврора</td>
            <td>2025/2</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>-</td>
            <td>-</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>-</td>
            <td>-</td>
            <td>12.05</td>
            <td>23.05</td>
          </tr>
          <tr>
            <td>т/х Лиза</td>
            <td>2025/3</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>-</td>
            <td>-</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>т/х Лиза</td>
            <td>2025/4</td>
            <td>-</td>
            <td>-</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>05.06</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tt__description">
      <span>ETA&nbsp;&mdash; планируемая дата прибытия</span>
      <span>ETD&nbsp;&mdash; планируемая дата убытия</span>
    </div>
  </div>
</section>
